<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="space.koyu.safenote">

    <application
        android:label="SafeNote"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:icon="@mipmap/ic_launcher">
        <activity android:name="space.koyu.safenote.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="space.koyu.safenote.PanicReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="info.guardianproject.panic.action.TRIGGER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
